.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    color: #fff;
  }
  
  .logo img {
    width: 100px; /* Adjust the width as needed */
  }