.hamburger__menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
   
    
  }
  .navMobile{
    top: 0;
    backdrop-filter: blur(2px);
    background-color: transparent;
    height: auto;
    padding-bottom: 0.5rem;
  }
  .bar {
    width: 30px;
    height: 3px;
    background-color: var(--black);
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 15px;
  }
  .bar.white {
    background-color: var(--white);
  }
  .hamburger__menu.open{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;

  }
  
  .hamburger__menu.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 1px);
    background-color: var(--white)
  }
  
  .hamburger__menu.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger__menu.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-13px, -7px);
    background-color: var(--white)
  }

  .nav {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: -1500px; 
    left: 0;
    width: 100vw;
    
    height: 105vh;
    overflow-y: auto; 
    transition: top 0.33s ease; 
    background: url('https://res.cloudinary.com/dt3h0p239/image/upload/v1709089583/assets/MENU_NAVEGACION_CELULAR_tg0kp3.webp');
    background-size: cover;
    

    

  }
  



  .nav.open {
    top: -5vh; 
  }
  .nav a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    z-index: 2;
  }
  .navDesk a{
    color: var(--black);
  }
  .nav__txt{
    color: var(--black);
  }
  @media screen and (min-width: 768px) {

    .navDesk{
        justify-content: space-between;
    }
  }