@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #f9edd3;
    --secondary:  #8e290a;
    --background: #fefefe;

    --black: #03031b;
    --white: #fbfafa;
  }
  *, *:before, *:after {  
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  
}

html {
  background-color: var(--white);
  box-sizing: border-box;
  font-family: var(--font-txt);
}
h1{
  font-size: 1.8rem;
}

h1,
h2{
  font-family: var(--font-heading);
  letter-spacing: 1.3px;
}
h3{
  font-size: 17px;
  font-family: var(--font-heading);
}
p{
  font-size: 17px;
  letter-spacing: 1.1px;
}

img{
  width: 100%;
  height: auto;
}